
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WEbMobile_302 Aksam Sınıfı Mvc ProjeKampı başladı</h2>
<table class="table table-bordered table-hover">
    <tr>
        <td>ID</td>
        <td>ADI</td>
        <td>ACUKIAMA</td>
        <td>DURUM</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>yapıldı</td>
        <td>true</td>
    </tr>
    <tr>
        <td>2</td>
        <td>spor</td>
        <td>yapılmadı</td>
        <td>false</td>
    </tr>

</table>



